@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.seven-segment-display {
  position: relative;
  width: 100px;
  height: 200px;
  margin: 20px;
}

.segment {
  position: absolute;
  background: transparent;
  transition: background 0.3s;
}

/* Segment on class for lit segments */
.segment.on {
  background: red;
}

/* Each segment's position */
.segment.a {
  top: 0;
  left: 10%;
  width: 80%;
  height: 10%;
  border-radius: 5px;
}

.segment.b {
  top: 10%;
  right: 0;
  width: 15%;
  height: 40%;
  border-radius: 5px;
}

.segment.c {
  bottom: 10%;
  right: 0;
  width: 15%;
  height: 40%;
  border-radius: 5px;
}

.segment.d {
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 10%;
  border-radius: 5px;
}

.segment.e {
  bottom: 10%;
  left: 0;
  width: 15%;
  height: 40%;
  border-radius: 5px;
}

.segment.f {
  top: 10%;
  left: 0;
  width: 15%;
  height: 40%;
  border-radius: 5px;
}

.segment.g {
  top: 50%;
  left: 10%;
  width: 80%;
  height: 10%;
  border-radius: 5px;
  transform: translateY(-50%);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  background: #ecf0f1;
}

main {
  position: relative;
}

.content {
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  margin: 30px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.content h1 {
  margin-bottom: 20px;
  text-align: center;
}

.content .actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content .actions button {
  padding: 7px;
  color: white;
  font-weight: medium;
  border: none;
  border-radius: 4px;
}

.content .actions button:hover {
  cursor: pointer;
}

.content .actions button.info {
  background-color: #3498db;
}

.content .actions button.success {
  background-color: #2ecc71;
}

.content .actions button.warning {
  background-color: #f1c40f;
}

.content .actions button.error {
  background-color: #e74c3c;
}
.ncontainer{
  position: absolute;
  z-index: 100;
  height: 100vh;
  background-color: gray;
}
.notifications{
  height: 50px;
  width: 200px;
  margin-bottom: 20px;
}

